<button [routerLink]="['../add-teacher']" nz-button nzType="primary">Add</button>
<nz-table #basicTable [nzData]="teachers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Date of birth</th>
      <th>Date of registration</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Telegram username</th>
      <th>Specialization</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for(teacher of basicTable.data; track teacher.id)
    {
      <tr>
        <td>{{teacher.id}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.description}}</td>
        <td>{{teacher.address}}</td>
        <td>{{teacher.dateOfBirth}}</td>
        <td>{{teacher.dateOfRegister}}</td>
        <td>{{teacher.phone}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.telegramUserName}}</td>
        <td>{{teacher.specialization}}</td>
        <td>
          <nz-button-group>
            <button nz-button>
              <span nz-icon nzType="delete" nzTheme="twotone"></span>
            </button>
            <button nz-button>
              <!-- <span nz-icon nzType="diff" nzTheme="twotone"></span> -->
              <span nz-icon nzType="edit" nzTheme="twotone" (click)="edit(teacher.id)"></span>
            </button>
          </nz-button-group>
        </td>
        </tr>
        
      }
  </tbody>
</nz-table>
<button [routerLink]="['../add-teacher']" nz-button nzType="primary" style="margin-right: 10px;">Add</button>
<button nz-button nzType="primary" (click)="loadteachers()">load-teachers</button>
