<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template>
</p-menubar>
<div class="inner-content">

    <!-- <app-accordion></app-accordion> -->

    <!-- <h1> {{ value }}</h1>
    <app-child-demo (onClickBtn)="handleMessage($event)" [inputValue] = "value"></app-child-demo>
    <hr /> -->

    <app-playground></app-playground>

    <app-child-demo [counter]="childCounter" (onCounterChange)="handleChange($event)"> </app-child-demo>
    <h1>{{ counter }}</h1>

</div>
<app-footer-mac></app-footer-mac>